@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #000000;
  overflow: hidden;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 12s linear infinite;
}

.background li:nth-child(0) {
  left: 19%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 68%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 4s;
}
.background li:nth-child(2) {
  left: 48%;
  width: 101px;
  height: 101px;
  bottom: -101px;
  animation-delay: 4s;
}
.background li:nth-child(3) {
  left: 29%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 1s;
}
.background li:nth-child(4) {
  left: 54%;
  width: 100px;
  height: 100px;
  bottom: -100px;
  animation-delay: 15s;
}
.background li:nth-child(5) {
  left: 27%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 13s;
}
.background li:nth-child(6) {
  left: 45%;
  width: 101px;
  height: 101px;
  bottom: -101px;
  animation-delay: 4s;
}
.background li:nth-child(7) {
  left: 20%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 32s;
}
.background li:nth-child(8) {
  left: 8%;
  width: 101px;
  height: 101px;
  bottom: -101px;
  animation-delay: 1s;
}
.background li:nth-child(9) {
  left: 79%;
  width: 100px;
  height: 100px;
  bottom: -100px;
  animation-delay: 24s;
}
.background li:nth-child(10) {
  left: 66%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 8s;
}
.background li:nth-child(11) {
  left: 67%;
  width: 101px;
  height: 101px;
  bottom: -101px;
  animation-delay: 34s;
}
.background li:nth-child(12) {
  left: 0%;
  width: 101px;
  height: 101px;
  bottom: -101px;
  animation-delay: 23s;
}
.background li:nth-child(13) {
  left: 45%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 18s;
}
